<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - web app</title>
        {% else %}
            <title>Default Title</title>
        {% endif %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.png') }}"/>
    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}"/>
    <!--Bootstrap Core-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div>
            Super Blog:
            <a htef="{{ url_for('users') }}">To All Users</a> |
            {% if 1 %}
            <a href="#">Log Out</a> |
            <a htef="{{ url_for('about') }}">About</a>
            {% else %}
                <a href="{{ url_for('login') }}">LogIn</a> |
                <a href="#">Register</a>
            {% endif %}
        </div>
        <hr>
        {% with message = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <!--Блок вставки дочернего шаблона Start-->
        {% block content %}
        {% endblock %}
        <!--Конец блока вставки дочернего шаблона-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>