<!DOCTYPE html>
<html>
    <head>
        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.png') }}"/>
        {% if title %}
            <title>{{ title }} - web app</title>
        {% else %}
            <title>Default Title</title>
        {% endif %}
        <!--Custom css-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}"/>
        <!--Bootstrap Core-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!--Navbar panel started-->
        <header class="site-header">
            <nav class="navbar navbar-expend-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">My Flask Application</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="#">Home</a>
                            <a class="nav-item nav-link" href="#">About</a>
                        </div>
                        <!--Navbar Rigth Side-->
                        <div class="navbar-nav">
                            <div class="navbar-nav">
                                {% if current_user.is_authenticated %}
                                    <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
                                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">LogOut</a>
                                {% else %}
                                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                                    <a class="nav-item nav-link" href="{{ url_for('register')}}">Register</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--Navbar panel ended-->
        <!--Main Body Started-->
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% with massage = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Our Sidebar</h3>
                        <p class="text-muted">Put here anything!</p>
                        <ul class="list-group">
                            <li class="list-group-item">Первый li</li>
                            <li class="list-group-item">Второй li</li>
                            <li class="list-group-item">Третий li</li>
                            <li class="list-group-item">Четвертый li</li>
                            <li class="list-group-item">Пятый li</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <!--Main Body Ended-->
        <!--Footer statarted-->
        <footer class="footer">
            <div class="container text-center">
                <span class="text-muted">Copyrigth &copy <a href="https://github.com/vano2149">Ivan Kal'ko</a></span>
            </div>
        </footer>
        <!--Footer Ended-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Для подключения своего js файла необходимо вставить данный код. 
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>-->
    </body>
</html>