<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - web app</title>
        {% else %}
            <title>Default Title</title>
        {% endif %}
    </head>
    <body>
        <div>
            Super Blog:
            <a htef="{{ url_for('users') }}">To All Users</a> |
            {% if 1 %}
            <a href="#">Log Out</a> |
            <a htef="#">About</a>
            {% else %}
                <a href="#">LogIn</a> |
                <a href="#">Register</a>
            {% endif %}
        </div>
        <hr>
        {% with message = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        <!--Блок вставки дочернего шаблона Start-->
        {% block content %}
        {% endblock %}
        <!--Конец блока вставки дочернего шаблона-->
    </body>
</html>