<!--Шаблон Изменения поста!-->
{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" acrion="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Post</legend>
                <!--Start Title form-->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form.control form-control-lg") }}
                    {% endif %}
                </div>
                <!--Ended Form Title-->
                <!--Start Form Content-->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--Ended Form Content-->
            </fieldset><br>
            <!--Start Submit Button form-->
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Edit</button>
            </div>
            <!--Ended Submit Button Form-->
        </form>
    </div>
{% endblock %}