<!-- Шаблон вставки дочернего шаблона Login-->

{% extends "base.html" %}

{% block content %}
    <!--Login Form Started-->
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}

            <fildset class="form-group">
                <legend class="border-bottom mb-4">Log In!</legend>
                <!--Email Form Started-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--Ended Form Starded-->
                <!--Password Form Started-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{form.password(class="form-control form-control-lg in-invalid")}}
                        <div class="'invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <!--Ended Password Form-->
                <!--Remembel Form Started-->
                <div class="container py-3 mt-3">
                    <div class="row">
                      <div class="col-4 mx-1">
                        <div class="form-check form-switch ps-1">
                            {{ form.remember_me(class="form-check-input") }}
                            {{ form.remember_me.label(class="form-check-label") }}
                        </div>
                      </div>
                    </div>
                  </div>
                <!--Ended Form Ended-->
            </fildset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info btn-lg">Sing Up</button>
            </div>
        </form>
    </div>
    <!--Account Form Started-->
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account ? <a class="ml-2" href="{{ url_for('register') }}">
                Register!
            </a>
        </small>
    </div>
    <!--Ended Account Form-->
{% endblock %}

