<!-- Шаблон вставки дочернего шаблона Login-->

{% extends "base.html" %}

{% block content %}
    <h1>Log In Page</h1>
    <form action="" method="POST" novalidate>
        <!--Тег для CSRF защиты-->
        {{ form.hidden_tag() }}
        <!--Поле ввода ввода username-->
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=54)}}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <!--Конец поля ввода username-->
        <!--Поле ввода пароля-->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=54) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <!--Конец поля password-->
        <!--Флажек для запоминания-->
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <!--Отправка форма-->
        <p>
            {{form.submit() }}
        </p>
    </form>
    <p>
        New Usser ? <a href="{{ url_for('register')}}">Click here to Register!</a>
    </p>
{% endblock %}