<!--Шаблон регистрации нового пользователя-->
{% extends "base.html" %}
{% block content %}
    <!--Register Form Started-->
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}

            <fildset class="form-group">
                <legend class="border-bottom nb-4">Join Us Now!</legend>
                <!--Username-->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <!--Ended Username Form-->
                <!--Start Email Form-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <!--Ended Email Form-->
                <!--Started password Form-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label")}}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--Ended Password Form-->
                <!--Started Confinm Password Form-->
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label")}}

                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.confirm_password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fildset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info btn-lg">Sing In</button>
            </div>
        </form>
    </div>
    <!--Register Form Ended-->
    <!--Account form started-->
    <dev class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login')}}">
                Sing In
            </a>
        </small>
    </dev>
    <!--Account Form Ended-->
{% endblock %}
