<!--Шаблон Сброса Пароля-->

{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" acrion="" novalidate>
            {{ form.hidden_tag() }}

            <fildset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <!--Email form started-->
                <div class="form-group">
                    {{ form.email.label(class="form-group-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg")}}
                    {% endif%}
                </div>
                <!--Email Form ended-->
            </fildset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Send me Instructions</button>
            </div>
        </form>
    </div>
{% endblock %}

