<!--Шаблон сброса пароля доступен по ссылке-->

{% extends "base.html" %}
{% block content %}
    <!--Paasword Reset Form Started-->
    <div class="content-secctiron">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <!--Password Form Started-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control-lg i-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form-password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg" )}}
                    {% endif %}
                </div>
                <!--Pssword Form Ended-->
                <!--Confirm Password Form Started-->
                <div class="form-group">
                    {{ form.confirm_password.label(class="form.control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--Confirm password form Ended-->
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Set New Password</button>
            </div>
        </form>
    </div>
    <!--Password Reset Form Ended-->
{% endblock %}